html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background: darkblue;
    padding: 1rem 5vw;
    color: #ffffff;
}

header a {
    color: #ffffff;
    display: inline;
    margin-left: 0.75em;
}

header .home {
    font-weight: 800;
    margin-left: 0;
    text-decoration: none;
}

main {
    margin: 2rem auto;
    max-width: 54ch;
    width: 90vw;
}